h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
}

.icon {
  color: #3C8D8A;
  /* color: #019090; */
}

/* navigation */
.intro {
  text-align: center;
  color: white;
  padding: 15% 15%;
}
.intro-heading {
  font-weight: bolder;
  font-size: 6.5rem;
}

.intro-body {
    font-size: 1.2rem;
    font-weight: normal;
}

nav {
  padding: 15% 15%;
}

@media screen and (max-width: 578px) {
  .intro {
    padding: 50% 10%;
  }

  .intro-heading {
    font-size: 3rem;
  }

  .intro-body {
      margin-bottom:10%;
      font-size: 1rem;
  }
}

/* banner section */

.banner {
  text-align: center;
  color: white;
  padding: 12% 0;
}
.banner-heading {
  font-weight: bolder;
  font-size: 6rem;
}

.banner-body {
    font-size: 1.2rem;
    font-weight: normal;
}

@media screen and (max-width: 578px) {

  .banner {
    padding: 50% 0;
  }

  .banner-heading {
    font-weight: bolder;
    font-size: 2.8rem;
  }

  .banner-body {
    padding: 0 10%;
  }

}

/************************************************************
homepage
*************************************************************/

/* introduction-section */

.introduction-section {
  padding: 10% 15%;
}

.introduction-section-title {
  font-weight: bolder;
}

.introduction-section-body {
line-height: 1.7;
}


.mid {
  text-align: center;
  color: white;
  padding: 10% 15%;
}
.mid-heading {
  font-weight: bolder;
  font-size: 2.9rem;
}

.mid-body {
    padding-top: 1%;
    font-size: 1.2rem;
    font-weight: normal;
}

@media screen and (max-width: 578px) {

  .mid {
    padding: 20% 0;
  }

  .mid-heading {
    font-weight: bolder;
    font-size: 2rem;
  }

  .mid-body {
    padding: 0 10%;
    font-size: 0.9rem;
  }

}

/* ministry section */
.ministry {
  padding: 10% 6%;
  color: #3C8D8A;
}

.ministry-heading {
  font-weight: bolder;
  font-size: 2rem;
}


/* beliefs section */

.beliefs {
  padding: 10% 6%;
  background-color: #3C8D8A;
}

.beliefs-heading {
  font-weight: bolder;
  font-size: 2rem;
}



/* events section */

.events {
  padding: 10% 15%;
}


/* contact section */
.contact {
  padding: 3% 15%;
}

.contact-title {
  font-weight: bolder;
}

.contact-form {
  padding: 8% 15%;
}

.contact-form-heading {
  font-weight: bolder;
}


/* mission section */

.mission {
  padding: 8% 15%;
}

.mission-heading {
  font-weight: bolder;
}

.mission-body {

}
/* footer secction */

footer {
  padding: 7% 15%;
}

.footer-body {
  color: #CDD3DD;
}
